*{

margin: 0;
padding: 0;

}
.cabecalho{
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 117, 117);
    }

.cartao {


width: 260px;
height: 200PX;



}

.cartao-imagem {
width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aquamarine;
}
main{
flex: 1;



}


.cabecalho-link{
    color:rgb(80, 204, 198)

}
h1{

color: aliceblue;

}

.footer {
    background-color: beige;
    padding: 15px 15px;
    color: black;
}








